{
    "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 140,
    "singleAttributePerLine": true,

    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@tanstack/(.*)$",
        "^@mui/(.*)$",
        "^@/app/(.*)$",
        "^@/widgets/(.*)$",
        "^@/features/(.*)$",
        "^@/entities/(.*)$",
        "^@/shared/(.*)$",
        "./(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
